.zagolovok {
  
  .l {
    h1 { margin-top: 15px;
      text-align: center;
      font-size: 65px;
    }
    .y {
      margin-left: 300px;
      font-size: 16px;
    }
    .h {
      margin-left: 650px;
      font-size: 16px;
      position: absolute;
      top: 138px;
    }
  }}