@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* outline: 1px solid blue; */
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Instrument Serif", serif;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
}
h2 {
  color: #fff;
}
h3 {
  color: #fff;
}
h4 {
}
h5 {
}

p,
a {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  transition: border-bottom 1s ease-in;
}

button {
  padding: 7px 14px;
  border-radius: 5px;
  border: none;
  transition: 0.7s;
}

button:hover {
  transform: scale(1.02);
}
